<div id="loginForm" class="row">
		<form action="#" (keyup.enter)="signIn(credentials(userCredentials))">
	
			<div id="mainText">
			  <h1 class="titleText">Sign In</h1>
			</div>
	
			<div class="inputFild col-xs-12 col-md-12">
			  <label for="inputEmail">Your Email: </label>
			  <input type="text" id="inputEmail" class="form" name="email" placeholder="Email" [(ngModel)]="userCredentials.email"/>
			</div>
	
			<div class="inputFild col-xs-12 col-md-12">
			  <label for="inputPassword">Your Password: </label>
			  <input type="password" id="inputPassword" class="form" name="pass" placeholder="Password" [(ngModel)]="userCredentials.password"/>
			</div>

			<div class="click col-xs-12  col-sm-12  col-md-12  col-lg-12" >
			  <button type="button" class="btn btn-primary mybtn" (click)="signIn(credentials(userCredentials))">Sign In</button>
			</div>
		</form>
	</div>
	
