<div class="container backgro">
  <div class="signIn">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h2 class="panel-title">Please Sign In</h2>
			</div>
		  <div class="panel-body">
			  <form accept-charset="UTF-8" role="form" (keyup.enter)="signIn(credentials(userCredentials))">
          <fieldset>
						<div class="text"> Email: </div>
						<div class="form-group">
							<input class="form-control" placeholder="E-mail" name="email" type="text" [(ngModel)]="userCredentials.email">
						</div>
						<div class="text"> Password: </div>
						<div class="form-group">
							<input class="form-control" placeholder="Password" name="password" type="password" value="" [(ngModel)]="userCredentials.password">
						</div>
			    	<button type="button" class="btn btn-primary mybtn" (click)="signIn(credentials(userCredentials))">Sign In</button>
			    </fieldset>
			  </form>
			</div>
		</div>
	</div>
</div>