USE [ClinicDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteRole]
	@id int
AS
BEGIN TRY
	SET NOCOUNT ON;

	DELETE FROM Roles WHERE Id = @id
	RETURN 0
END TRY
BEGIN CATCH
	RETURN -1
END CATCH
GO
