<div class="my-container">
    <ul class="nav flex-column nav-pills">
    
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="[sideNav[0][0].link2]">{{sideNav[0][0].name}} <span class="sr-only">(current)</span></a>
        </li>
    
        <li class="nav-item" *ngFor="let i of sideNav[0]; index as k">
            <a *ngIf="k > 0" class="nav-link" [routerLink]="[i.link2]">{{i.name}}</a>
        </li>
        <!-- <li class="nav-item" *ngFor="let i of sideNav[0]; index as k">
            <a *ngIf="k > 0" class="nav-link" [routerLink]="[i.link1, i.link2]" routerLinkActive="active">{{i.name}}</a>
        </li>
        <li class="nav-item" *ngFor="let i of sideNav[1]">
            <a *ngIf="sideNav[2][0].profile == null" class="nav-link" [routerLink]="[i.link1, i.link2]" routerLinkActive="active">{{i.name}}</a>
        </li> -->
    </ul>
</div>