<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>
    <div class="row test" *ngIf="topNav[2][0].profile === null;else guest-output">
        <div class="col-2 side-nav">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="guest-output" class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col">  
            <app-footer></app-footer>
        </div>
    </div>
</div>
