.text-block {
    text-align: center;
    margin-top: 6em;
    
    h3 {
        font-size: 5em;
        padding-bottom: 1em;
    }

    p {
        font-size: 3em;
        padding-bottom: 2em;
    }

    a {
        font-size: 2em;
    }
}